# Plug
vim/plugged

# https://github.com/mbbill/undotree
vim/undodir

# See vimrc
device_local.vim

# netrw history file
# http://stackoverflow.com/questions/9850360/what-is-netrwhist
.netrwhist

# Compiled spell files
vim/spell/*spl

# Etc.
vim/backup/*~
vim/swap/*.s*
